# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.idea/.gitignore
.idea/bachelorThesisAplication.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
cmake-build-debug/bachelorThesisAplication
cmake-build-debug/build.ninja
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/testHashMap
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/.cmake/api/v1/reply/cache-v2-a6d47b5dae719dd9eeff.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-6de4d7a383444434e956.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-175a471ad9048f337d13.json
cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-08-27T17-36-28-0842.json
cmake-build-debug/.cmake/api/v1/reply/target-bachelorThesisAplication-Debug-274f3602190a4ab7bafa.json
cmake-build-debug/.cmake/api/v1/reply/target-testHashMap-Debug-c810c96dd6f17cacd734.json
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-b202573adb92d1fd7ac8.json
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/3.30.1/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.30.1/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.30.1/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.30.1/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.30.1/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.30.1/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.30.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.30.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.30.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.30.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.30.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.30.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.30.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.30.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/bachelorThesisAplication.dir/CXX.dd
cmake-build-debug/CMakeFiles/bachelorThesisAplication.dir/CXXDependInfo.json
cmake-build-debug/CMakeFiles/bachelorThesisAplication.dir/CXXModules.json
cmake-build-debug/CMakeFiles/bachelorThesisAplication.dir/main.cpp.ddi
cmake-build-debug/CMakeFiles/bachelorThesisAplication.dir/main.cpp.o.ddi
cmake-build-debug/CMakeFiles/bachelorThesisAplication.dir/main.cpp.o.ddi.i
cmake-build-debug/CMakeFiles/bachelorThesisAplication.dir/main.cpp.o.modmap
cmake-build-debug/CMakeFiles/bachelorThesisAplication.dir/test.cpp.ddi
cmake-build-debug/CMakeFiles/bachelorThesisAplication.dir/test.cpp.o.ddi
cmake-build-debug/CMakeFiles/bachelorThesisAplication.dir/test.cpp.o.ddi.i
cmake-build-debug/CMakeFiles/bachelorThesisAplication.dir/test.cpp.o.modmap
cmake-build-debug/CMakeFiles/bachelorThesisAplication.dir/client/client.cpp.ddi
cmake-build-debug/CMakeFiles/bachelorThesisAplication.dir/client/client.cpp.o.ddi
cmake-build-debug/CMakeFiles/bachelorThesisAplication.dir/client/client.cpp.o.ddi.i
cmake-build-debug/CMakeFiles/bachelorThesisAplication.dir/client/client.cpp.o.modmap
cmake-build-debug/CMakeFiles/bachelorThesisAplication.dir/server/server.cpp.ddi
cmake-build-debug/CMakeFiles/bachelorThesisAplication.dir/server/server.cpp.o.ddi
cmake-build-debug/CMakeFiles/bachelorThesisAplication.dir/server/server.cpp.o.ddi.i
cmake-build-debug/CMakeFiles/bachelorThesisAplication.dir/server/server.cpp.o.modmap
cmake-build-debug/CMakeFiles/bachelorThesisAplication.dir/server/hashmap/hashmap.cpp.ddi
cmake-build-debug/CMakeFiles/bachelorThesisAplication.dir/server/hashmap/hashmap.cpp.o.ddi
cmake-build-debug/CMakeFiles/bachelorThesisAplication.dir/server/hashmap/hashmap.cpp.o.ddi.i
cmake-build-debug/CMakeFiles/bachelorThesisAplication.dir/server/hashmap/hashmap.cpp.o.modmap
cmake-build-debug/CMakeFiles/testHashMap.dir/CXX.dd
cmake-build-debug/CMakeFiles/testHashMap.dir/CXXDependInfo.json
cmake-build-debug/CMakeFiles/testHashMap.dir/CXXModules.json
cmake-build-debug/CMakeFiles/testHashMap.dir/hashmaptest.cpp.ddi
cmake-build-debug/CMakeFiles/testHashMap.dir/hashmaptest.cpp.o.ddi
cmake-build-debug/CMakeFiles/testHashMap.dir/hashmaptest.cpp.o.ddi.i
cmake-build-debug/CMakeFiles/testHashMap.dir/hashmaptest.cpp.o.modmap
cmake-build-debug/CMakeFiles/testHashMap.dir/test.cpp.ddi
cmake-build-debug/CMakeFiles/testHashMap.dir/test.cpp.o.ddi
cmake-build-debug/CMakeFiles/testHashMap.dir/test.cpp.o.ddi.i
cmake-build-debug/CMakeFiles/testHashMap.dir/test.cpp.o.modmap
cmake-build-debug/CMakeFiles/testHashMap.dir/client/client.cpp.ddi
cmake-build-debug/CMakeFiles/testHashMap.dir/client/client.cpp.o.ddi
cmake-build-debug/CMakeFiles/testHashMap.dir/client/client.cpp.o.ddi.i
cmake-build-debug/CMakeFiles/testHashMap.dir/client/client.cpp.o.modmap
cmake-build-debug/CMakeFiles/testHashMap.dir/server/server.cpp.ddi
cmake-build-debug/CMakeFiles/testHashMap.dir/server/server.cpp.o.ddi
cmake-build-debug/CMakeFiles/testHashMap.dir/server/server.cpp.o.ddi.i
cmake-build-debug/CMakeFiles/testHashMap.dir/server/server.cpp.o.modmap
cmake-build-debug/CMakeFiles/testHashMap.dir/server/hashmap/hashmap.cpp.ddi
cmake-build-debug/CMakeFiles/testHashMap.dir/server/hashmap/hashmap.cpp.o.ddi
cmake-build-debug/CMakeFiles/testHashMap.dir/server/hashmap/hashmap.cpp.o.ddi.i
cmake-build-debug/CMakeFiles/testHashMap.dir/server/hashmap/hashmap.cpp.o.modmap
cmake-build-debug/CMakeFiles/testHashMap.dir/test/hashmap/hashmap.cpp.ddi
cmake-build-debug/CMakeFiles/testHashMap.dir/test/hashmap/hashmap.cpp.o.ddi
cmake-build-debug/CMakeFiles/testHashMap.dir/test/hashmap/hashmap.cpp.o.ddi.i
cmake-build-debug/CMakeFiles/testHashMap.dir/test/hashmap/hashmap.cpp.o.modmap
cmake-build-debug/Testing/Temporary/LastTest.log
